


{{ ga_metric }}


<script type="text/javascript">



$(function () {
var ga_metric="{{ga_metric}}"; // Django templating; e.g. 'ga:visits'
var data_title="{{data_title}}"; // Django templating; e.g. 'region_profession'
var chart_title="{{chart_title}}"; // Django templating, e.g. 'Most of your ga:visits come from region_commute_time...'
var container_id="{{container_id}}"; // Django templating; e.g. 'container-ga-visits'
var data={{ json_list_points_to_plot }}; // Django templating; e.g. [[1,2], [3,4], [5,6]]


    $('#{{container_id}}').highcharts({
        chart: {
            type: 'scatter'
        },
        title: {
            text: chart_title
        },
        xAxis: {
            title: {
                text: data_title
            }
        },
        yAxis: {
            title: {
                text: ga_metric
            }
        },
        series: [{
            data: data
        }],
    }); 
    // json_list_points_to_plot can be e.g. "[[2,3],[4,5],[1,7],[3,2],[5,2]]"

});
</script>

