


{{ ga_metric }}


<script type="text/javascript">



$(function () {
var ga_metric="{{ga_metric}}"; // Django templating
var container_id="{{container_id}}"; // Django templating
var data={{ json_list_points_to_plot }}; // Django templating


    $('#{{container_id}}').highcharts({
        chart: {
            type: 'scatter'
        },
        title: {
            text: 'Your best customers...'
        },
        xAxis: {
            title: {
                text: 'region_profession'
            }
        },
        yAxis: {
            title: {
                text: ga_metric
            }
        },
        series: [{
            data: data
        }],
    }); 
    // json_list_points_to_plot can be e.g. "[[2,3],[4,5],[1,7],[3,2],[5,2]]"

});
</script>

