
<html>
  <head>
    <title>Google Analytics Reanalyzed</title>
    <style type=text/css>
      td  { vertical-align: top; padding: 0.5em }
      img { border:0 }
    </style>

<script type="text/javascript">

/***********************************************
* Remember Text INPUT field values- by JavaScriptKit.com
* This notice MUST stay intact for use
* Visit JavaScript Kit at http://www.javascriptkit.com/ for this script and more
***********************************************/

var remembervalues_days=60 //Remember text input values for how many days?
var dyncookiename=encodeURI(window.location.pathname) //Name of cookie. Changes depending on the page.

var recallinput=function(){
var cookienamevalue=rememberinput.getCookie(dyncookiename).split("##")
for (var i=0; i<cookienamevalue.length; i++){
var cookiename=cookienamevalue[i].split("#")[0]
var cookievalue=cookienamevalue[i].split("#")[1]
if (document.getElementById(cookiename)!=null && document.getElementById(cookiename).type=="text") //if this text field has a stored value
document.getElementById(cookiename).value=decodeURI(cookievalue)
}
}

var rememberinput=function(){
var rememberit=""
for (var i=0; i<arguments.length; i++){
if (document.getElementById(arguments[i]).type=="text" && document.getElementById(arguments[i]).value!="") //if this is a form text INPUT and not empty
rememberit+=arguments[i]+"#"+encodeURI(document.getElementById(arguments[i]).value)+"##"
}
rememberinput.setCookie(dyncookiename, rememberit, remembervalues_days)
}

rememberinput.getCookie=function(Name){ //get cookie value
var re=new RegExp(Name+"=[^;]+", "i"); //construct RE to search for target name/value pair
if (document.cookie.match(re)) //if cookie found
return document.cookie.match(re)[0].split("=")[1] //return its value
return ""
}

rememberinput.setCookie=function(name, value, days){ //set cookie value
var expireDate = new Date()
//set "expstring" to either future or past date, to set or delete cookie, respectively
var expstring=expireDate.setDate(expireDate.getDate()+parseInt(days))
document.cookie = name+"="+value+"; expires="+expireDate.toGMTString()+";";
}

if (window.addEventListener)
window.addEventListener("load", recallinput, false)
else if (window.attachEvent)
window.attachEvent("onload", recallinput)
else if (document.getElementById)
window.onload=recallinput

</script>

  </head>
  <body>
    Welcome, {{request.user}}.  (<a href="/accounts/logout">Logout</a>)<br>
    Linked google analytics profile: {{ profile_id }}
    <script type="text/javascript" src="/static/datetimepicker.js"></script>
    <script type="text/javascript">
      function do_search(metrics) {
        document.getElementById("metrics").value=metrics;
        document.getElementById("searchform").submit();
      }
    </script>

    <form id="searchform" action="/analyze/" method="get" onSubmit="rememberinput('dt_from', 'dt_to')">
    <input id="dt_from" name="dt_from" type="text" size="25"><a href="javascript:NewCal('dt_from','ddmmyyyy')"><img src="/static//cal.gif" %}" width="16" height="16" border="0" alt="Start date"></a>
    <br>
    <input id="dt_to" name="dt_to" type="text" size="25"><a href="javascript:NewCal('dt_to','ddmmyyyy')"><img src="/static/cal.gif" %}" width="16" height="16" border="0" alt="End date"></a>
`   <input id="metrics" name="metrics" type="hidden" size="256" value="ga:visits,ga:timeOnSite,ga:pageviewsPerVisit,ga:bounces">
    <input type="submit" value="Analyze">
    </form>

    <a href="#" onclick="do_search('ga:exits,ga:visits');">Search exits and visits</a>
    <a href="#" onclick="do_search('ga:timeOnSite');">Search time on site</a>
  </body>
</html>
