<!doctype html>
<html lang="en">

<head>	
	
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-touch-fullscreen" content="YES">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" name="viewport">
	<title>Hotspotr</title>
	
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen" />
	<link href="/static/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/static/css/typography.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/ui.css" rel="stylesheet" type="text/css">
	<link href="/static/css/960.css" rel="stylesheet" type="text/css">
	<link href="/static/css/main.css" rel="stylesheet" type="text/css">
	<link href="/static/css/media_queries.css" rel="stylesheet" type="text/css">

	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- html5.js for IE less than 9 -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
<header>
    <section class="container_16">
        
        <div class="logo logo2"><a href="#" title="Hotspotr"><img src="/static/img/hotspotr_logo.png" alt="Hotspotr" /></a></div>
        
        <div class="topnav">
        <aside>
        <p><a href="/accounts/logout" class="hotspotr_logout">Log out</a></p>
        </aside>
        </div>
        
    </section><!-- container_16 -->
</header><!-- header -->

<div id="bg">
	<img src="/static/img/new_large_bgimage.png" alt="">
</div>

<form></form>

<section class="container_16">
    <div class="circle"></div>
	    <div id="circle_content">
	    <aside>
	    <p id="head">Find out where your best customers come from.</p>
	    <p id="para">Hotspotr combines demographics data with your Google Analytics account to help you launch effective location-based ads.</p></aside>
	    <a href="/search/" class="btn">Sign in with Google</a>
		<span>
		<p>By signing in, you agree to our <a href="#">Terms of Service.</a></p></span>
    </div>
          
  <footer>
    
        <div class="grid_16">
        <div class="divider"></div>
        
        <aside>
        <p class="hide_mobile2">
        <a href="#" class="first">Home</a> | 
        <a href="#">About</a> | 
        <a href="#">Blog</a> | 
        <a href="#">Our Team</a> |
        <a href="#">ContactUs/Support</a> | 
        <a href="#">Terms</a> | 
        <a href="#">FAQ</a></p>
        
        <p class="show_mobile2">
        <a href="#" class="first">Home</a> | 
        <a href="#">About</a> | 
        <a href="#">Blog</a> | 
        <a href="#">Our Team</a>
        <a href="#">ContactUs/Support</a> | 
        <a href="#">Terms</a> | 
        <a href="#">FAQ</a></p>
        
        <p><span>&copy; 2013 <a href="#">Contextuall</a> LLC All Rights Reserved</span></p>
        </aside>
        
        <div class="socialmedia">
        <ul>
        <li><a href="#" title="Twitter">Twitter</a></li>
        <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
        <li><a href="#" class="pinterest" title="Pinterest">Pinterest</a></li>
        </ul>
        </div>
        </div>
        
    </footer><!-- footer -->
</section>


</body>
</html>
