
<html>
  <head>
    <title>Google Analytics Reanalyzed</title>
    <style type=text/css>
      td  { vertical-align: top; padding: 0.5em }
      img { border:0 }
    </style>
  </head>
  <body>
    Welcome. 
    Google analytics profile: {{ profile_id }}
    <script type="text/javascript" src="static/datetimepicker.js"></script>
    <form action="/analyze/" method="get">
    <input id="dt_from" name="dt_from" type="text" size="25"><a href="javascript:NewCal('dt_from','ddmmyyyy')"><img src="static/cal.gif" width="16" height="16" border="0" alt="Start date"></a>
    <br>
    <input id="dt_to" name="dt_to" type="text" size="25"><a href="javascript:NewCal('dt_to','ddmmyyyy')"><img src="static/cal.gif" width="16" height="16" border="0" alt="End date"></a>
    <input type="submit" value="Analyze">
    </form>


  </body>
</html>
